<footer class="page-footer">
  <div class="footer content">
    <div class="footer-static-links">
      <div class="column">
        <div class="title">Customer Service</div>
        <ul>
          <li>
            <a aria-label="Find out how to contact us">Contact Us</a>
          </li>
          <li>
            <a aria-label="Lear more about our Showrooms around the world"
              >Find Your Nearest Showroom</a
            >
          </li>
          <li>
            <a>Delivery And Returns</a>
          </li>
          <li>
            <span class="widget block block-product-link-inline">
              <a id="link-product-15863-0885304a"
                ><span>Order Catalogue</span></a
              >
            </span>
          </li>
          <li><a>FAQ</a></li>
        </ul>
      </div>

      <div class="column">
        <div class="title">Our Company</div>
        <ul>
          <li>
            <a aria-label="Read about Our History: The Rug Company's history"
              >Our History</a
            >
          </li>
          <li>
            <a
              aria-label="Craftsmanship: We are proud to support the local craftsmanship of Nepal and are pleased to champion a beautiful heritage."
              >Craftsmanship</a
            >
          </li>
          <li>
            <a>Materials And Techniques</a>
          </li>
          <li>
            <a aria-label="Read about our Responsible Trading values"
              >Responsible Trading</a
            >
          </li>
          <li>
            <a>Press</a>
          </li>
          <li><a>Careers</a></li>
        </ul>
      </div>

      <div class="column">
        <div class="title">Our Services</div>

        <ul>
          <li>
            <a>Our Services</a>
          </li>
          <li>
            <a>Size And Fitting Guide</a>
          </li>
          <li>
            <a
              title="Click to launch the Roomvo rug visualizer tool"
              aria-label="Discover the Rug Visualizer Tool"
              >Rug Visualizer</a
            >
          </li>
          <li>
            <a>Consultation And Approval</a>
          </li>
          <li>
            <a>Care And Cleaning</a>
          </li>
          <li>
            <a
              aria-label="View information and application form for Trade &amp; Contract customers"
              >Trade &amp; Contract</a
            >
          </li>
          <li>
            <a
              id="trcNewsletterPopupTrigger"
              aria-label="Subscribe to our Newsletter to always stay up to date. Subscribe to our newsletter."
              >Subscribe To Our Newsletter</a
            >
          </li>
        </ul>
      </div>
      <div class="column">
        <div class="title">Our Services</div>

        <ul>
          <li>
            <a>Our Services</a>
          </li>
          <li>
            <a>Size And Fitting Guide</a>
          </li>
          <li>
            <a
              title="Click to launch the Roomvo rug visualizer tool"
              aria-label="Discover the Rug Visualizer Tool"
              >Rug Visualizer</a
            >
          </li>
          <li>
            <a>Consultation And Approval</a>
          </li>
          <li>
            <a>Care And Cleaning</a>
          </li>
          <li>
            <a
              aria-label="View information and application form for Trade &amp; Contract customers"
              >Trade &amp; Contract</a
            >
          </li>
          <li>
            <a
              id="trcNewsletterPopupTrigger"
              aria-label="Subscribe to our Newsletter to always stay up to date. Subscribe to our newsletter."
              >Subscribe To Our Newsletter</a
            >
          </li>
        </ul>
      </div>

      <div class="column no-margin">
        <div class="title">Legal &amp; Cookies</div>
        <ul>
          <li>
            <a>Terms &amp; Conditions</a>
          </li>
          <li>
            <a>Our Privacy Notice</a>
          </li>
          <li>
            <a>Accessibility Statement</a>
          </li>
          <li>
            <a
              role="button"
              aria-label="Open accessibility options, accessibility adjustments, statement and help"
              >Accessibility Adjustments</a
            >
          </li>
          <li></li>
        </ul>
      </div>
      <!-- <div class="block newsletter">
        <div class="footer-cards-new">
          <div class="trustpilot">Excellent 4.8 out of 5 stars</div>
        </div>
        <div class="footer-payment-methods">
          <picture>
            <source
              type="image/svg+xml"
              srcset="
                https://static.therugcompany.com/media/wysiwyg/footer/payments-nb.svg
              "
            />
            <img
              src="https://static.therugcompany.com/media/wysiwyg/footer/payments-nb.png"
              alt="Available: ApplePay, GooglePay, Visa, MasterCard, American Express, Maestro"
            />
          </picture>
          <span class="splitit-footer">
            <img
              src="https://static.therugcompany.com/media/wysiwyg/footer/Spitit_logo_whiteduotone_RGB.svg"
              alt="SplitIT instalment payment options available"
            />
          </span>
        </div>
      </div> -->
    </div>
    <div class="footer-bottom">
      <div class="footer-logo-wrapper">
        <div class="footer-logo">Alpha Tiles</div>
      </div>
      <div class="footer-social-links">
        <div class="follow-us">
          <div class="title">Follow us</div>
        </div>
        <div class="links">
          <ul>
            <li>
              <img src="../../../../assets/linkedin.svg" alt="" />
            </li>
            <li>
              <img src="../../../../assets/twitter.svg" alt="" />
            </li>
            <li>
              <img src="../../../../assets/whatsapp.svg" alt="" />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- <div class="footer-logos">
      <div class="footer-logos__item">
        <img
          src="https://static.therugcompany.com/media/wysiwyg/footer/TRC-footer-logo.png"
          class="form-lazy is-loaded"
          alt="TRC-footer-logo"
        />
      </div>
    </div> -->
  </div>
</footer>
