.page-footer {
  margin-top: auto;
  padding-bottom: 38px;
  background-color: #333;
  color: #fff;
}

.page-footer .footer.content {
  padding-top: 76px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1180px;
  width: auto;
}

.page-footer .footer.content:before,
.page-footer .footer.content:after {
  content: " ";
  display: table;
}

.page-footer .block.newsletter {
  display: block;
  margin-bottom: 20px;
  width: 32%;
}

.trustpilot {
  text-align: center;
}

.footer-payment-methods {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 0;
  text-align: center;
}

.footer-payment-methods:before {
  display: block;
  content: " ";
  clear: both;
  float: none;
  margin: 30px auto 25px auto;
}

.footer-payment-methods picture,
.footer-payment-methods img {
  width: 100%;
  max-width: 375px;
  margin: 0 0;
  padding: 0 0;
  border: 0 none;
}

img {
  height: auto;
}

.footer-payment-methods .splitit-footer {
  display: block;
  clear: both;
  text-align: center;
}

.footer-payment-methods .splitit-footer img {
  width: 80px;
  margin-top: 20px;
}

.page-footer .footer-static-links {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.page-footer .footer-static-links .column {
  /* float: left; */
  width: 18%;
  margin-bottom: 35px;
  margin-right: 7%;
}

.page-footer .footer-social-links .column.no-margin {
  margin-right: 0% !important;
}

.page-footer .footer-static-links .column .title {
  font-size: 11px;
  letter-spacing: 0.8px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.footer.content ul {
  margin: 0;
  padding: 0;
  list-style: none none;
}

.page-footer .footer-static-links .column ul {
  padding-right: 0;
}

.footer.content ul > li {
  margin: 0;
}

.page-footer .footer-static-links .column a {
  font-size: 13px;
  color: #fff;
  opacity: 0.6;
  line-height: 2.31;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.page-footer .footer-static-links .column a:hover {
  opacity: 1;
}

.page-footer .footer-static-links .column.no-margin {
  margin-bottom: 10px;
}

.page-footer .footer-social-links {
  color: #fff;
  /* float: right; */
  margin-top: 0;
  width: 43%;
}

.page-footer .footer-social-links:before,
.page-footer .footer-social-links:after {
  content: " ";
  display: table;
}

.page-footer .footer-social-links .follow-us {
  margin-top: 4px;
  float: none;
}

.page-footer .footer-social-links .follow-us .title {
  margin-bottom: 2px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.8px;
}

.page-footer .footer-social-links .follow-us .hash {
  font-size: 12px;
  margin-top: -5px;
}

.page-footer .footer-social-links .links {
  max-width: 140px;
  /* float: none; */
  margin-top: 19px;
  overflow: hidden;
}

.footer-social-links .links ul {
  display: flex;
  width: 100%;
}

.page-footer .footer-social-links .links ul li {
  margin-left: 10px;
  /* float: left; */
}

.page-footer .footer-social-links .links ul li img {
  width: 24px;
  height: 24px;
}

.page-footer .footer-social-links a {
  color: #fff;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-logo {
  font-size: 26px;
  line-height: 38px;
  font-weight: 500;
}

.footer-social-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media only screen and (min-width: 992px) {
  .page-footer .footer-static-links .column .title {
    font-size: 12px;
    letter-spacing: 0.9px;
  }

  .page-footer .footer-social-links {
    width: 32%;
    clear: both;
  }

  .page-footer .footer-social-links .follow-us .title {
    font-size: 12px;
    letter-spacing: 0.9px;
  }

  .page-footer .footer-social-links .follow-us .hash {
    display: block;
  }

  .page-footer .footer-social-links .links {
    /* max-width: none; */
    margin-top: 2px;
  }

  .page-footer .footer-social-links .social-links ul li {
    margin-left: 13px;
    margin-bottom: 0;
    margin-right: 0;
  }
}

@media only screen and (min-width: 768px) {
  .page-footer .footer-static-links .column {
    /* width: 23%; */
    margin-right: 2%;
    margin-bottom: 0;
  }
  .page-footer .footer-static-links .column.no-margin {
    margin-bottom: 0;
  }

  .page-footer .footer-social-links {
    width: 25%;
    clear: none;
  }
}
