.product-details-container {
  max-width: 1396px;
  margin: 20px auto;
}

.product-details-container .product-details-wrapper {
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
}

.product-details-wrapper .product-img-container {
  flex: 1;
  display: flex;
  gap: 6px;
  height: 636px;
}

.product-details-wrapper .product-details {
  flex: 1;
  padding-top: 1.5rem;
}

.product-img-container .small-images {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.product-img-container .small-images .small-image {
  height: 85px;
  cursor: pointer;
}

.product-img-container .small-images .small-image img {
  width: 100%;
  height: 100%;
}

.product-img-container .large-image {
  width: 80%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.large-image img {
  transition: transform 0.3s ease, filter 0.3s ease;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(var(--zoom, 1));
  transform-origin: var(--x) var(--y);
  transition: transform 0.3s ease;
  cursor: zoom-in;
}

.product-details .product-breadcrumb {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #000000;
  vertical-align: middle;
  position: relative;
  margin-bottom: 10px;
}

.product-details .product-name {
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 10px;
}

.product-details .product-price,
.product-details .product-brand {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.1;
  margin-bottom: 10px;
}

.product-brand {
  font-weight: 500 !important;
}

.product-details .product-desc {
  margin-right: 1rem;
  margin-bottom: 0.25rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
}

.product-details .product-features {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.product-features .product-feature {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.product-features .product-feature .feature-head {
  font-size: 13.5px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.product-features .product-feature .feature-desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
}

.product-details .product-colors {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.product-colors .color-title {
  font-size: 13.5px;
  font-weight: 600;
  text-transform: capitalize;
}

.product-colors .color-names {
  font-size: 13px;
  font-weight: 400;
  text-transform: capitalize;
  margin-left: 5px;
}

.product-details .product-sizes .size-title {
  font-size: 13.5px;
  font-weight: 600;
}

.product-details .product-sizes .product-size-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.product-size-container .product-size {
  background: #f8f8f8;
  color: #000000;
  border: 1px solid #c0c0c0;
  transition: all 0.3s ease;
  color: #000 !important;
  padding: 0.5rem;
  text-align: center;
  margin-top: 0.5rem;
  font-size: 13px;
}

.product-details .product-price-range {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 400;
  color: #000;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.product-details .product-actions-btns {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.product-actions-btns .action-btn {
  width: 50%;
  text-align: center;
  background-color: #f8f8f8;
  padding: 1rem 0;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  cursor: pointer;
}

.action-btn.cart-btn {
  background-color: var(--dynamic-app-color) !important;
  color: #fff;
}

.action-btn.wishlist-btn {
  font-weight: 400 !important;
  border: 1px solid #c0c0c0;
}

.product-details-desc {
  margin: 1.5rem 0;
}

.product-details-desc .desc-title {
  font-size: 13.5px;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 5px;
}

.product-details-desc .desc-details {
  font-size: 13px;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 5px;
}

.product-more-info {
  width: 70%;
  margin: 80px auto;
}

.product-more-info .product-info-sections {
  display: flex;
  align-items: center;
}

.product-info-sections .product-info-section {
  flex: 1;
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 20px;
  border-bottom: 1px solid #acacac;
  font-weight: 300;
  letter-spacing: 1px;
  cursor: pointer;
}

.product-info-section.active {
  border-bottom: 1px solid #333 !important;
}

.product-info-section:hover {
  border-bottom: 1px solid #333 !important;
}

.info-section-content {
  padding: 1rem 0;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 300;
}

.similar-products-container {
  margin: 50px auto 0 auto;
}

.main-content {
  position: relative;
  padding-bottom: 30px;
  overflow-x: hidden;
}

.main-row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  transition: transform 0.5s ease;
}

.main-row::-webkit-scrollbar {
  display: none;
}

.main-item {
  min-width: 318px;
  height: 470px;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.main-content {
  user-select: none;
}

.arrow {
  cursor: pointer;
  font-size: 2rem;
  color: #333;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  top: 25%;
  padding: 10px;
  position: absolute;
  z-index: 10;
  user-select: none;
}

.left-arrow {
  left: 80px;
}

.right-arrow {
  right: 40px;
}

.collection .inner h3,
.main-item .inner h3 {
  font-family: Crimson Text;
  text-transform: none;
  letter-spacing: -0.2px;
  font-size: 26px;
  line-height: 36px;
  font-weight: 400;
}

.main-item-inner {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}

.main-item-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  transition: transform 0.5s ease;
}

.main-item:hover .main-item-image {
  transform: scale(1.1);
}

.similar-products-head {
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 30px;
  font-weight: 300;
  letter-spacing: 1px;
}

.wizart-main-page {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 16px;
  box-shadow: none !important;
  width: 230px !important;
}

::ng-deep .w-entry-point {
  box-shadow: none !important;
  position: absolute !important;
  bottom: 20px !important;
  right: 29%;
  border-radius: 32px !important;
}

::ng-deep .w-entry-point div {
  display: none !important;
}

::ng-deep .w-entry-point .w-entry-point__title {
  padding-left: 0px !important;
}

.menu-slider {
  padding-top: 5px;
  height: 210px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.slide.slick-slide {
  width: 190px !important;
}

.slick-prev:before,
.slick-next:before {
  color: #202020 !important;
}

.carousel {
  position: relative;
  width: 100%;
}

.slide {
  text-align: center;
}

.slide img {
  width: 100%;
  height: 160px;
  border-radius: 8px;
}

.menu-item {
  padding: 10px;
  border-radius: 8px;
}

.menu-item p {
  margin-top: 7px;
  font-size: 14px;
  line-height: normal;
  color: #202020;
}

::ng-deep .slick-prev,
::ng-deep .slick-next {
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5) !important;
  border: none;
  border-radius: 50%;
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  top: 37% !important;
  transform: translateY(-50%);
  cursor: pointer;
}

.close-icon {
  cursor: pointer;
}

::ng-deep .custom-next-arrow {
  color: #202020;
  position: absolute;
  top: 75px;
  right: -35px;
  cursor: pointer;
}

::ng-deep .custom-prev-arrow {
  color: #202020;
  position: absolute;
  top: 75px;
  cursor: pointer;
  left: -35px;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

::ng-deep .slick-prev {
  left: -45px !important; /* Adjust as needed */
}

::ng-deep .slick-next {
  right: -45px !important; /* Adjust as needed */
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.slick-arrow i {
  font-size: 20px;
}

::ng-deep .slick-track {
  width: 2123px !important;
}
