.sticky-header {
  width: 100%; /* Make sure it spans the full width */
}

.header-bar {
  padding: 15px 0 15px 0;
  background-color: #202020;
  color: #fff;
}

.header-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 1396px;
  margin: 0 auto;
  width: 100%;
}

.icon {
  cursor: pointer;
}

.icon-search {
  color: #202020 !important;
}

.header-container .top-bar {
  display: flex;
  align-items: center;
}

.top-bar .logo-container {
  width: 25%;
}

.logo-text {
  font-size: 26px;
  font-weight: 600;
  cursor: pointer;
  color: #ffcb08;
}

.top-bar .search-bar-container {
  width: 45%;
  display: flex;
  justify-content: center;
}

.query {
  width: 100%;
  padding: 3px 15px;
  background: #fff;
  border-radius: 16px;
  display: flex;
  align-items: center;
}

.query input {
  width: 95%;
  padding: 10px 0;
  border: none;
  outline: none;
  color: #333;
}

a.submit {
  font-size: 30px;
  margin-left: 10px;
}

.top-bar .options-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-end;
}

.options-top,
.options-bottom {
  display: flex;
  align-items: center;
  gap: 20px;
}

.option {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-bar {
  background-color: #343434;
  color: #fff;
}

.nav-bar.sticky {
  position: fixed !important;
  top: 0;
  z-index: 100;
  width: 100%;
}

.main-container {
  position: relative;
}

.nav-container {
  padding: 0;
  max-width: 1396px;
  margin: 0 auto;
  width: 100%;
}

.nav-bar .navbar-menus {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-bar .navbar-menus .navbar-menu-title {
  padding: 15px 20px;
  font-size: 14px;
  line-height: 24px;
  color: #acacac;
}

.navbar-menu-title:hover {
  color: #ffcb08 !important;
  background-color: #202020;
  cursor: pointer;
}

.navbar-submenu {
  display: block;
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #202020;
  z-index: 1;
  color: #fff !important;
}

.navbar-submenu a {
  color: #fff !important;
}

.obl-submenu-row {
  display: none;
  position: absolute;
  top: 100%; /* Positions the submenu directly below its parent */
  left: 0;
  right: 0;
  width: 100%; /* Sets the width to the full viewport width */
  background-color: #202020; /* Ensures the background color extends fully */
  z-index: 1000;
}

.navbar-menu:hover .obl-submenu-row {
  display: block;
}

.navbar-submenu .container {
  padding: 0;
  max-width: 1396px;
  margin: 0 auto;
  width: 100%;
}

.obl-submenu-row .obl-submenu-nav {
  height: 380px;
  overflow: hidden;
  overflow-y: auto !important;
  margin: 30px 0 !important;
  scrollbar-color: #fff #bebebe; /* Thumb color and track color for Firefox */
}

/* Scrollbar track (the background) */
.obl-submenu-row .obl-submenu-nav::-webkit-scrollbar-track {
  border-radius: 10px; /* Border radius for the track */
}

/* Scrollbar thumb (the actual scrolling element) */
.obl-submenu-row .obl-submenu-nav::-webkit-scrollbar-thumb {
  border-radius: 10px; /* Border radius for the thumb */
}

/* Remove the arrows from the scrollbar */
.obl-submenu-row .obl-submenu-nav::-webkit-scrollbar-button {
  display: none !important; /* Hides the top and bottom arrows */
}

.flex-class {
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  flex-flow: wrap;
  width: 100%;
}

.obl-submenu-row .obl-submenu-nav .titleBox {
  width: 15%;
  padding-right: 12px;
}

.obl-submenu-row .obl-submenu-nav .titleBox ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.obl-submenu-row .obl-submenu-nav .titleBox ul li a {
  color: #acacac !important;
  font-size: 14px;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
  display: inline-block;
  line-height: 24px;
}

.whiteTitleHead {
  color: #fff;
}

.obl-submenu-row .obl-submenu-nav .titleHead a {
  color: #fff;
  padding-bottom: 10px;
  display: inline-block;
}

.obl-submenu-row .obl-submenu-nav .titleBox ul.titlepattern li .pattern {
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  padding-bottom: 15px;
}

.obl-submenu-row .obl-submenu-nav .titleBox ul.titlepattern li .pattern img {
  width: 40px;
  height: 40px;
}

.obl-submenu-row
  .obl-submenu-nav
  .titleBox
  ul.titlepattern
  li
  .pattern
  .patternName {
  width: calc(100% - 40px);
  padding-left: 10px;
}

.obl-submenu-row
  .obl-submenu-nav
  .titleBox
  ul.titlepattern
  li
  .pattern
  .patternName
  span {
  color: #a8a8a8;
  font-size: 12px;
  width: 100%;
  display: block;
  line-height: normal;
}

/* .obl-submenu-row .obl-submenu-nav .tileBox {
  width: 100%;
}

.obl-submenu-row .obl-submenu-nav .tileBox ul li {
  margin: 0.5em 0.5em 0;
  text-align: center;
  padding: 0 0.4em;
} */

.obl-submenu-row .obl-submenu-nav .titleBox .colorList li a {
  display: flex;
  align-items: center;
  padding-top: 0px !important;
}

.obl-submenu-row .obl-submenu-nav .titleBox ul li .swatch {
  width: 20px;
  height: 20px;
  display: block;
  padding: 0;
  border-radius: 50%;
  /* margin: 0 auto; */
  margin-right: 10px;
  background: #fff;
}

.colorList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 0px !important;
}

.colorList li a span {
  padding-top: 0px !important;
}

.obl-submenu-row .obl-submenu-nav .titleBox ul li span {
  color: #a8a8a8;
  padding-top: 5px;
  display: inline-block;
}

.obl-submenu-row .obl-submenu-nav .titleBox ul li .swatch2 {
  background: #040404;
}

.obl-submenu-row .obl-submenu-nav .titleBox ul li .swatch4 {
  background: #865340;
}

.obl-submenu-row .obl-submenu-nav .titleBox ul li .swatch5 {
  background: #c9b194;
}

.obl-submenu-row .obl-submenu-nav .titleBox ul li .swatch6 {
  background: #eadeba;
}

.obl-submenu-row .obl-submenu-nav .titleBox ul li .swatch7 {
  background: #ede3c4;
}

.obl-submenu-row .obl-submenu-nav .titleBox ul li .swatch8 {
  background: #feca2d;
}

.obl-submenu-row .obl-submenu-nav .titleBox ul li .swatch9 {
  background: #2b70f1;
}

.obl-submenu-row .obl-submenu-nav .titleBox ul li .swatch10 {
  background: #3dc72c;
}

.obl-submenu-row .obl-submenu-nav .titleBox ul li .swatch11 {
  background: #b4b4b4;
}

.obl-submenu-row .obl-submenu-nav .titleBox ul li .swatch12 {
  background: #f6a9e8;
}

.obl-submenu-row .obl-submenu-nav .titleBox ul li .swatch14 {
  background: #fc431a;
}

.obl-submenu-row .obl-submenu-nav .titleBox ul li .swatch15 {
  background: #cf4e46;
}

.obl-submenu-row .obl-submenu-nav .titleBox ul li .swatch16 {
  background: linear-gradient(to right bottom, #cc0076, #a02f87, #629834);
}

.close-icon {
  cursor: pointer;
}

.user-account {
  position: relative;
}

.content-info {
  display: block;
  padding-bottom: 2px;
}

.info-title {
  font-size: 14px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 15px;
  height: 20px;
  font-weight: 700;
}

.info-email {
  height: 18px;
  color: #282c3f;
}

.info-email,
.info-title {
  font-size: 14px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 15px;
}

.get-user-in-links {
  border: none;
}

.get-in-links {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  padding-bottom: 0px;
  border-top: 1px solid #eaeaec;
}

.link-btn:first-child {
  margin: 0 5px 6px 0;
}

.link-btn {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 10px 0 0;
  border: 1px solid #eaeaec;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--dynamic-app-color);
  font-weight: 700;
  cursor: pointer;
}

.link-btn:hover {
  border: 1px solid var(--dynamic-app-color);
}

.info {
  font-weight: 400;
  font-size: 14px;
  color: #3e4152;
}

.info-section {
  margin: 0;
  cursor: pointer;
  padding: 7px 0 10px !important;
}

.info-section:hover {
  color: #000;
  font-weight: 700;
}

.user-account .block-minicart.active {
  opacity: 1;
  visibility: visible;
}

.user-account .block-minicart {
  position: absolute;
  width: 420px;
  right: -15px;
  margin-top: 16px;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(181, 181, 181, 0.08);
  -moz-box-shadow: 0px 0px 40px 0px rgba(181, 181, 181, 0.08);
  box-shadow: 0px 0px 40px 0px rgba(181, 181, 181, 0.08);
  padding: 10px 25px 10px 25px;
  display: block;
  transition: all 0.2s ease;
  margin-top: 10px;
}

.user-account .block-minicart {
  padding-top: 10px;
}

.minicart-wrapper .block-minicart {
  margin: 0;
  list-style: none none;
  background: #fff;
  min-width: 100%;
  z-index: 100;
  box-sizing: border-box;
  top: 100%;
}

.block-minicart .subtitle.empty {
  display: block;
  font-size: 14px;
  padding: 30px 0 20px;
  text-align: center;
}

.display-none {
  display: none !important;
}

.close-icon {
  position: absolute;
  top: 15px;
  right: 18px;
  color: #222 !important;
}
